.account {
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font: var(--h4);
  color: var(--clr4-500);
}

.account > span:last-child {
  cursor: pointer;
}

.account > a {
  color: inherit;
}