@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
  --clr1-50: #f2f3f5;
  --clr1-100: #e6e7ea;
  --clr1-200: #c0c4cc;
  --clr1-300: #9aa0ad;
  --clr1-400: #4f596f;
  --clr1-500: #031231;
  --clr1-600: #03102c;
  --clr1-700: #020e25;
  --clr1-800: #020b1d;
  --clr1-900: #010918;
  --clr2-50: #f3fffd;
  --clr2-100: #e6fffb;
  --clr2-200: #c1fff6;
  --clr2-300: #9bfff1;
  --clr2-400: #50ffe6;
  --clr2-500: #05ffdb;
  --clr2-600: #05e6c5;
  --clr2-700: #04bfa4;
  --clr2-800: #039983;
  --clr2-900: #027d6b;
  --clr3-50: #f3fafb;
  --clr3-100: #e6f6f8;
  --clr3-200: #c1e8ed;
  --clr3-300: #9bd9e3;
  --clr3-400: #50bdcd;
  --clr3-500: #05a1b8;
  --clr3-600: #0591a6;
  --clr3-700: #04798a;
  --clr3-800: #03616e;
  --clr3-900: #024f5a;
  --clr4-50: #FFFFFF;
  --clr4-100: #FFFFFF;
  --clr4-200: #FFFFFF;
  --clr4-300: #FFFFFF;
  --clr4-400: #FFFFFF;
  --clr4-500: #FFFFFF;
  --clr4-600: #e6e6e6;
  --clr4-700: #bfbfbf;
  --clr4-800: #999999;
  --clr4-900: #7d7d7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--fontPrimary);
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bodyBackground);
}

a {
  text-decoration: none;
  color: blue;
}

h4 {
  color: #7c83a7;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 10px;
}

.info {
  margin-top: 1rem;
  text-align: center;
}

.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

@media only screen and (max-width: 1023px) {
  .column {
    grid-template-columns: 1fr;
  }
}

.infinite-scroll-component {
  width: 100%;
  display: grid;
  margin: 3rem auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  row-gap: 20px;
}

@media only screen and (max-width: 600px) {
  .infinite-scroll-component {
    width: 90%;
  }
}