@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

::selection {
  color: #031231;
  background-color: #05ffdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  color: #031231;
}

// Scrollbar Design
body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #031231;
}

svg {
  stroke: #05ffdb;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .3s linear;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  transition: stroke-dashoffset .3s linear;
}

.reverse {
  .box {
      stroke-dashoffset: 320;
  }
  .check {
      stroke-dashoffset: 0;
  }
}