@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-grid: 8px;
  --colour-body-background: #000;
  --colour-background: #031231;
  --colour-background-folded: hsl(220, 88%, 14%);
  --colour-background-stripes: #031231;
  --colour-text: #fff;
}

.articles {
  margin: calc(var(--base-grid)*2) auto calc(var(--base-grid)*5);
  display: grid;
  grid-row-gap: calc(var(--base-grid)*8);
  grid-column-gap: calc(var(--base-grid)*6);
  grid-template-columns: repeat(auto-fit,minmax(calc(var(--base-grid)*35),1fr));
  justify-items: center;
}

.articles__article {
  cursor: pointer;
  display: block;
  position: relative;
  animation-name: animateIn;
  animation-duration: .35s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.articles__article:before {
  content: "";
  position: absolute;
  top: calc(var(--base-grid)*-2);
  left: calc(var(--base-grid)*-2);
  border: 2px dashed var(--colour-body-background);
  background-image: repeating-linear-gradient(-24deg,transparent,transparent 4px,var(--colour-background-stripes) 0, var(--colour-background-stripes) 5px);
  // z-index: -1;
}

.articles__article,
.articles__article:before {
  width: calc(var(--base-grid)*35);
  height: calc(var(--base-grid)*35);
}

.articles__link {
  background-color: var(--colour-body-background);
  border: 2px solid var(--colour-background);
  display: block;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.articles__link:after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(var(--base-grid) * 3);
  width: calc(var(--base-grid) * 2);
  height: calc(var(--base-grid) * 2);
  margin-top: calc(var(--base-grid) * -1);
  clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  -webkit-clip-path: polygon(75% 0,100% 50%,75% 100%,0 100%,25% 50%,0 0);
  background-color: var(--colour-text);
  opacity: 0;
  transition: opacity .5s ease-in,transform .3s ease-in-out 0ms;
}

.articles__content {
  background-color: var(--colour-background);
  color: var(--colour-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(var(--base-grid) * 2);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--colour-background);
}

.articles__content--lhs {
  clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
  -webkit-clip-path: polygon(0 0,51% 0,51% 100%,0 100%);
}

.articles__content--rhs {
  clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  -webkit-clip-path: polygon(50% 0,100% 0,100% 100%,50% 100%);
  transition: transform .5s ease-in-out,background-color .4s ease-in-out;
}

.articles__title {
  font-size: calc(var(--base-grid) * 4);
  line-height: 1.125;
  font-weight: 700;
  letter-spacing: -.02em;
}

.articles__footer {
  margin-top: auto;
  font-size: calc(var(--base-grid) * 2);
  line-height: calc(var(--base-grid) * 2);
  display: flex;
  justify-content: space-between;
}

.articles__link:hover .articles__content--rhs {
  background-color: var(--colour-background-folded);
  transform: rotateY(-50deg);
}

.articles__link:hover:after {
  opacity: 1;
  transform: translateX(calc(var(--base-grid) * 1.5));
  transition: opacity .5s ease-in,transform .3s ease-in-out .25s;
}

@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

::selection {
  color: #031231;
  background-color: #05ffdb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #fff;
  color: #031231;
}

// Scrollbar Design
body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #031231;
}

svg {
  stroke: #05ffdb;
}

.box {
  stroke-dasharray: 320;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset .3s linear;
}

.check {
  stroke-dasharray: 70;
  stroke-dashoffset: 70;
  fill: none;
  transition: stroke-dashoffset .3s linear;
}

.reverse {
  .box {
      stroke-dashoffset: 320;
  }
  .check {
      stroke-dashoffset: 0;
  }
}

.page-details {
  @apply relative container mx-auto -mt-16 bg-white-500 p-4 sm:p-8 z-20;

  & .page-shadow {
    position: absolute;
    top: 4rem;
    height: 90px;
    width: 100%;
    left: 0;
    right: 0;

    &::before {
      content: url("../public/shadow.png");
      left: -8px;
      position: absolute;
    }

    &::after {
      content: url("../public/shadow-inverse.png");
      right: -8px;
      position: absolute;
    }
  }
}